{
    "plugins":[
       "transform-decorators-legacy",
       "transform-class-properties",
       "transform-object-rest-spread",
       "transform-react-remove-prop-types",
       "transform-react-inline-elements",
       "transform-react-constant-elements",
       [
          "transform-runtime",
          {
             "polyfill":false,
             "regenerator":true
          }
       ]
    ],
    "presets":[
       [
          "env",
          {
             "targets":{
                "node":"current"
             },
             "modules":false
          }
       ],
       "es2015-node5",
       "react",
       "stage-0"
    ]
 }